 body{
  margin-top:70px;
  font-size:16px;
}

h1,h2,h3,h4,h5,h6{
  font-family:Poppins;
}

p{
  font-family:Roboto;
}

.navbar-default{
  background:#fff;
  border:0;
  font-family:Poppins;
}

.navbar-brand{
  font-size:20px;
  color:#101010 !important;
  font-weight:bold;
}

#showcase h1{
  font-size:50px;
  margin-bottom:20px;
}

#showcase img{
  width:90%;
  margin-left:60px;
}

#showcase .showcase-right{
  margin-top:90px;
}

#objective{
  background:#f1f1f1;
  padding: 50px 0 30px 0;
  text-align:center;
  margin-top:40px;
}

#objective p{
  font-size:32px;
  font-family: 'Josefin Sans';
  color:#000;
}

#objective p.customer{
  font-size:20px;
  color:#666;
}

#products{
  padding: 50px 0 30px 0;
}

#info1{
  background:#f1f1f1;
}

#info1 {
  padding: 70px 0;
}

#info2{
  margin:20px 0 60px 0;
}

.info-left-right{
	background-color: white; 
	box-shadow: 7px 7px 29px -4px rgba(0,0,0,0.47);
	padding: 15px 45px;
}


#info1 h2{
	padding-bottom: 20px;
}

#contact{
  background:url(img/image3.png);
  padding:40px;
  color:#fff;
  border-top:#333 7px solid;
  border-bottom:#333 7px solid;
}

footer{
  padding:30px;
} 

.items-img{
  height: 300px;
}

#item5{
	height:230px;
	margin-right: 8%;
}
#item6{
	width: 370px;
	height: auto;
	margin-right: 8%;
	margin-top: 75px;
}

.img-div{
  display: block;
  margin-left: 22%;
  margin-right: auto;
}

.items-btn{
  margin-top: 50px;
  margin-left: 25%;
}

.collapsed-ul{
  padding-top:40px;
}

div h2{
  text-align: center;
  padding-bottom: 80px;
}

div h3{
  text-align: center;
  padding-bottom: 50px;
}

.produtos{
  padding-top:50px;
  padding-bottom:50px;
}

hr{
  width: 75%;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

ul li{
  line-height: 150%;
  
}